<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.semester4">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InputBayarKost" />
        <activity android:name=".InputLaporanFasilitas" />
        <activity android:name=".PesanMakan" />
        <activity android:name=".InputPenghuni" />
        <activity android:name=".Profile" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".DetailPesanan" />
        <activity android:name=".ListPembayaran" />
        <activity android:name=".EventActivity" />
        <activity android:name=".DaftarPesanan" />
        <activity android:name=".ListPenghuni" />
        <activity android:name=".ListFasilitas" />
        <activity android:name=".ListPesananku" />
        <activity android:name=".DaftarPembayaran"/>
        <activity android:name=".DaftarPenghuni" />
        <activity android:name=".DaftarFasilitas" />
        <activity android:name=".SettingActivity" />
    </application>

</manifest>